@font-face {
    font-family: raleway-regular;
    src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-semi-bold;
    src: url(../fonts/raleway/raleway-semi-bold.ttf);
}

@font-face {
    font-family: raleway-extra-bold;
    src: url(../fonts/raleway/raleway-extra-bold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
    font-family: montserrat-extra-light;
    src: url(../fonts/montserrat/montserrat-extra-light.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto/roboto-regular.ttf);
}

.body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.header-wrp {
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header {
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #fff;
}

.logo:hover .logo-icon {
    fill: #c7b299;
}

.logo:hover .logo-txt {
    color: #c7b299;
}

.logo:active .logo-icon {
    fill: #bb7947;
}

.logo:active .logo-txt {
    color: #bb7947;
}

.logo-icon {
    fill: #fff;
}

.logo-txt {
    font-family: raleway-regular, arial, sans-serif;
    font-size: 34px;
    text-transform: capitalize;
}

.menu {
    width: calc(98% - 181px);
    max-width: 640px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.menu-btn {
    display: none;
    width: 50px;
    height: 50px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.menu-btn:hover span, .menu-btn:hover span:before, .menu-btn:hover span:after {
    background-color: #c7b299;
}

.menu-btn:active span, .menu-btn:active span:before, .menu-btn:active span:after {
    background-color: #bb7947;
}

.menu-btn span {
    display: block;
    margin: auto;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: relative;
}

.menu-btn span:before, .menu-btn span:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.menu-btn span:before {
    top: -10px;
}

.menu-btn span:after {
    top: 10px;
}

#menu {
    display: none;
}

.header-menu {
    display: flex;
    text-align: center;
}

.header-menu-list {
    margin: 0 0 0 180px;
}

.header-menu-list-item {
    display: inline-block;
    margin: 0px 15px 0px 15px;
}

.header-menu-list-item-link {
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.header-menu-list-item-link:hover {
    color: #c7b299;
}

.header-menu-list-item-link:active {
    color: #bb7947;
}

.icon-cart {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
    margin: 0 30px 0 50px;
}

.cart-logo {
    fill: #fff;
}

.cart-logo :hover {
    fill: #c7b299;
}

.cart-logo :active {
    fill: #bb7947;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    margin: 0;
    position: relative;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.search-icon-form__svg:hover {
    width: 100%;
    height: 100%;
    fill: #c7b299;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #bb7947;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #bb7947;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
    fill: #bb7947;
}

.carusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.carusel-btn {
    display: block;
    width: 80px;
    height: 80px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.carusel-arrow {
    fill: #fff
}

.carusel-arrow:hover {
    fill: #c7b299
}

.carusel-arrow:active {
    fill: #bb7947
}

.carusel-btn:nth-of-type(1) {
    margin: 340px 475px 95px 0;
}

.carusel-btn:nth-of-type(2) {
    margin: 340px 0 95px 475px;
}

.carusel-wrp {
    text-align: center;
    width: 590px;
    margin: 245px 0 0 0;
}

.carusel-wrp-h2 {
    margin: 0;
    color: #ffffff;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 36px;
}

.carusel-wrp-h1 {
    margin: 15px 0 20px 0;
    color: #ffffff;
    font-family: raleway-extra-bold, arial, sans-serif;
    font-size: 52px;
}

.carusel-wrp-txt {
    margin: 0 0 50px 0;
    color: #ffffff;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
}

.btn-link {
    margin: 0 auto;
    width: 180px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    border: none;
    border-bottom: 3px solid #736357;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;
    color: #fff;
    word-break: break-all;
    font-family: raleway-extra-bold, arial, sans-serif;
    font-size: 14px;
}

.btn-link-txt {
    margin: auto;
}

.btn-link:hover {
    background-color: #fff;
    color: #736357;
}

.btn-link:active {
    background-color: #736357;
    color: #fff;
}

.carusel-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 290px 0 0 0;
    padding: 40px;
    box-sizing: border-box;
}

.carusel-pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #ffffff;
    opacity: 0.5;
}

.carusel-pagination-item:hover {
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
    background-color: transparent;
}

.main-features {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin: 10px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}

.features:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #555555;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features:active .features-icon {
    fill: #bb7947;
}

.features:active .features-title {
    color: #bb7947;
}

.features:active:after {
    background-color: #bb7947;
}

.features-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
}

.features-title {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-family: raleway-semi-bold, arial, sans-serif;
    font-size: 22px;
}

.features-txt {
    color: #8c8c8c;
    text-align: center;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.main-ideas {
    width: 100%;
    background-color: #fbfaf8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-ideas-title {
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0;
    padding: 85px 0 0 0;
    box-sizing: border-box;
    color: #555555;
    font-family: raleway-semi-bold, arial, sans-serif;
    font-size: 30px;
}

.main-ideas-txt {
    width: 760px;
    margin: 0 0 40px 0;
    text-align: center;
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.main-ideas-img {
    margin: 0;
    width: 1230px;
    min-height: 480px;
    background-image: url(../img/browser-center.png), url(../img/browser-left.png), url(../img/browser-right.png);
    background-repeat: no-repeat;
    background-position: center, 0 80px, 460px 80px;
}

.ad {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.ad-main {
    margin: 0 470px 0 0;
}

.ad-main-title {
    margin: 0 0 10px 0;
    color: #ffffff;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 28px;
}

.ad-main-title-first {
    color: #c7b299;
}

.ad-main-txt {
    margin: 0;
    color: #615855;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 18px;
}

.ad-button-link {
    margin: 0 auto;
    width: 170px;
    padding: 19px 28px 20px 28px;
    box-sizing: border-box;
    display: flex;
    border: none;
    border-bottom: 3px solid #736357;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;
    color: #fff;
    word-break: break-all;
    font-family: raleway-extra-bold, arial, sans-serif;
    font-size: 14px;
}

.ad-button-link-txt {
    margin: auto;
}

.ad-button-link:hover {
    background-color: #fff;
    color: #736357;
}

.ad-button-link:active {
    background-color: #736357;
    color: #fff;
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
    box-sizing: border-box;
}

.projects-title {
    width: 100%;
    margin: 0 0 25px 0;
    text-align: center;
    color: #555555;
    font-family: raleway-semi-bold, arial, sans-serif;
    font-size: 30px;
}

.projects-txt {
    width: 760px;
    margin: 0 0 40px 0;
    text-align: center;
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.projects-menu-list {
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
}

.projects-memu-list-item {
    display: inline;
    margin: 5px;
    white-space: nowrap;
}

.projects-menu-btn {
    padding: 10px 25px 10px 25px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
}

.projects-menu-btn:hover {
    background-color: #998675;
    color: #ffffff;
}

.projects-menu-btn:active {
    background-color: #736357;
    color: #ffffff;
}

.article-wrp {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 200px 0 200px;
}

.article {
    width: 370px;
    position: relative;
    margin: 0 15px 30px 15px;
}

.article:hover .article-btn-link {
    display: block;
}

.article:hover .article-btn-search {
    display: block;
}

.article:hover .article-btn-link-svg:hover {
    background-color: transparent;
    fill: #fff;
}

.article:hover .article-btn-search-svg:hover {
    background-color: transparent;
    fill: #fff;
}

.article:hover .article-btn-link-svg:active {
    background-color: transparent;
    fill: #c7b299;
    /* outline: none; */
}

.article:hover .article-btn-search-svg:active {
    background-color: transparent;
    fill: #c7b299;
    /* outline: none; */
}

.article:hover .article-photo {
    filter: brightness(20%);
}

.article:hover .article-txt-wrapper {
    background-color: #362f2d;
}

.article:hover .article-txt-wrapper:before {
    border-bottom: 10px solid #362f2d;
}

.article:hover .article-title {
    color: #ffffff;
}

.article:hover .article-txt {
    color: #c7b299;
}

.article-photo {
    display: block;
    width: 100%;
}

.article-txt-wrapper {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
}

.article-txt-wrapper:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.article-title {
    display: block;
    text-align: center;
    padding: 10px 10px 0 10px;
    color: #c7b299;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 20px;
}

.article-txt {
    display: block;
    text-align: center;
    padding: 5px;
    color: #d1d1d1;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
}

.article-btn-link, .article-btn-search {
    width: 20px;
    height: 20px;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%
}

.article-btn-link {
    left: 35%;
}

.article-btn-search {
    right: 35%;
}

.load-btn-link {
    width: 170px;
    height: 50px;
    padding: 19px 28px 20px 28px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    display: flex;
    border: none;
    border-bottom: 3px solid #736357;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;
    color: #fff;
    word-break: break-all;
    font-family: raleway-extra-bold, arial, sans-serif;
    font-size: 14px;
}

.load-btn-link-txt {
    margin: auto;
}

.load-btn-link:hover {
    background-color: #fff;
    color: #736357;
}

.load-btn-link:active {
    background-color: #736357;
    color: #fff;
}

.video {
    width: 100%;
    min-height: 705px;
    position: relative;
    display: flex;
}

.video-item {
    width: 100%;
    /* height: 705px; */
    object-fit: cover;
}

.video-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 560px;
    position: absolute;
    top: 35%;
    left: 35%;
}

.video-play-btn {
    display: flex;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
}

.video-play-btn-icon {
    margin: auto;
    fill: #fff;
}

.video-play-btn:hover .video-play-btn-icon {
    fill: #c7b299;
}

.video-play-btn:active .video-play-btn-icon {
    fill: #bb7947;
}

.video-header {
    width: 100%;
    margin: 45px 0 30px 0;
    text-align: center;
    color: #ffffff;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 30px;
}

.video-txt {
    width: 100%;
    margin: 0 0 40px 0;
    text-align: center;
    color: #ffffff;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.video-timecode {
    width: 100%;
    text-align: center;
    color: #c7b299;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
}

.mobile {
    width: 100%;
    padding: 80px 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #fbfaf8;
}

.mobile-wrp {
    width: 660px;
    margin: 115px 0 185px 30px;
}

.mobile-wrp-header {
    text-align: left;
    margin: 0 0 40px 0;
    color: #555555;
    font-family: raleway-semi-bold, arial, sans-serif;
    font-size: 30px;
}

.mobile-wrp-txt {
    width: 100%;
    /* text-align: left; */
    margin: 0 0 45px 0;
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.mobile-wrp-list {
    margin: 0 0 0 80px;
    padding: 0;
}

.mobile-wrp-list-item {
    list-style: none;
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    position: relative;
}

.mobile-wrp-list-item::before {
    content: "\203A";
    /* display: block; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c7b299;
    text-align: center;
    line-height: 12px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: -38px;
}

.main-statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    position: relative;
    margin: 0 35px 0 35px;
}

.statistics:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 190px;
    left: 60px;
}

.statistics-icon {
    display: block;
    fill: #c7b299;
    margin: 10px 0 30px 0;
}

.statistics-value {
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    color: #ffffff;
    font-family: montserrat-extra-light, arial, sans-serif;
    font-size: 48px;
    line-height: 36px;
}

.statistics-txt {
    margin: 0 0 30px 0;
    color: #c7b299;
    text-align: center;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.posts-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
    box-sizing: border-box;
}

.posts-main-title {
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    color: #555555;
    font-family: raleway-semi-bold, arial, sans-serif;
    font-size: 30px;
}

.posts-main-txt {
    width: 760px;
    text-align: center;
    margin: 0 580px 40px 580px;
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 16px;
}

.posts-wrp {
    margin: 0 15px 40px 15px;
    position: relative;
}

.posts-wrp:hover .posts-img {
    filter: brightness(20%);
}

.posts-wrp:hover .calendar-date {
    background-color: #c7b299;
    color: #ffffff;
}

.posts-wrp:hover .calendar-month {
    background-color: #a48d72;
    color: #ffffff;
}

.posts-wrp:hover .posts-preview {
    background-color: #362f2d;
}

.posts-wrp:hover .posts-preview-title {
    color: #c7b299;
}

.posts-wrp:hover .posts-preview-txt {
    color: #ffffff;
}

.posts-wrp:hover .read-btn-link-txt {
    color: #c97c1f;
}

.posts-wrp:active .read-btn-link-txt {
    color: #b3aca5;
}

.posts-wrp:hover .read-btn-link-txt::after {
    border: 5px solid transparent;
    border-left: 5px solid #c97c1f;
}

.posts-wrp:active .read-btn-link-txt::after {
    border: 5px solid transparent;
    border-left: 5px solid #b3aca5;
}

.posts-img {
    display: block;
    width: 370px;
    min-height: 220px;
}

.calendar {
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    left: 20px;
}

.calendar-date {
    padding: 9px 10px 9px 11px;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    color: #ffffff;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 24px;
}

.calendar-month {
    padding: 7px 13px 6px 14px;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    color: #ffffff;
    font-family: roboto-regular, arial, sans-serif;
    font-size: 12px;
    text-transform: capitalize;
}

.posts-preview {
    width: 370px;
    min-height: 175px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
}

.posts-preview-title {
    color: #555555;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 20px;
}

.posts-preview-txt {
    color: #8c8c8c;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0 25px 0;
}

.read-btn-link {
    text-decoration: none;
}

.read-btn-link-txt {
    color: #c7b299;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
}

.read-btn-link-txt::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 85px;
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
}

.posts-btn-wrp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 80px 0;
}

.left-btn {
    display: block;
    width: 30px;
    height: 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.left-arrow {
    fill: #c7b299;
}

.left-arrow:hover {
    fill: #69452a
}

.left-arrow:active {
    fill: #bb7947
}

.right-btn {
    display: block;
    width: 30px;
    height: 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.right-arrow {
    fill: #c7b299;
}

.right-arrow:hover {
    fill: #69452a
}

.right-arrow:active {
    fill: #bb7947
}

.partners-wrp {
    width: 100%;
    min-height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/partners-bgi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.partners-link {
    margin: 0 45px 0 45px;
}

.partners-logo:hover {
    filter: blur(2px);
}

.footer-wrp {
    width: 100%;
}

.footer-wrp-top {
    padding: 80px;
    box-sizing: border-box;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.waxom-mini {
    width: 260px;
    margin: 0 40px 0 0;
}

.waxom-mini-txt {
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0 35px 0;
    hyphens: auto;
}

.waxom-mini-txt:hover {
    color: #c7b299;
}

.waxom-mini-txt:active {
    color: #bb7947;
}

.waxom-mini-read-btn-link {
    text-decoration: none;
}

.waxom-mini-read-btn-link:hover .waxom-mini-read-btn-link-txt {
    color: #c7b299;
}

.waxom-mini-read-btn-link:hover .waxom-mini-read-btn-link-txt::after {
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
}

.waxom-mini-read-btn-link:active .waxom-mini-read-btn-link-txt {
    color: #bb7947;
}

.waxom-mini-read-btn-link:active .waxom-mini-read-btn-link-txt::after {
    border: 5px solid transparent;
    border-left: 5px solid #bb7947;
}

.waxom-mini-read-btn-link-txt {
    color: #d1d1d1;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
}

.waxom-mini-read-btn-link-txt::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 85px;
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
}

.recent-posts-mini {
    width: 270px;
    margin: 0 30px 0 0;
}

.recent-posts-mini-header {
    text-transform: capitalize;
    color: #ffffff;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 24px;
    margin: 30px 0 10px 0;
}

.recent-posts-mini-header:hover {
    color: #c7b299;
}

.recent-posts-mini-header:active {
    color: #bb7947;
}

.recent-posts-mini-link {
    text-decoration: none;
    margin: 0;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #252525;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    hyphens: auto;
}

.recent-posts-mini-link:hover {
    color: #c7b299;
}

.recent-posts-mini-link:active {
    color: #bb7947;
}

.recent-posts-mini-link:last-child {
    border: none;
}

.recent-posts-mini-link-time {
    margin: 0 0 10px 0;
    color: #363636;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 12px;
}

.recent-posts-mini-link-time:hover {
    color: #ffffff;
}

.recent-posts-mini-link-time:active {
    color: #c7b299;
}

.twitter-mini {
    width: 275px;
    margin: 0 30px 0 0;
}

.twitter-mini-header {
    text-transform: capitalize;
    color: #ffffff;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 24px;
    margin: 30px 0 10px 0;
}

.twitter-mini-header:hover {
    color: #c7b299;
}

.twitter-mini-header:active {
    color: #bb7947;
}

.twitter-mini-link {
    text-decoration: none;
    margin: 0;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #252525;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.twitter-mini-link:hover {
    color: #c7b299;
}

.twitter-mini-link:active {
    color: #bb7947;
}

.twitter-mini-link:last-child {
    border: none;
}

.twitter-mini-hashtag {
    margin: 0;
    color: #00bff3;
}

.twitter-mini-link-time {
    color: #363636;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 12px;
    margin: 10px 0 0 0;
}

.twitter-mini-link-time:hover {
    color: #ffffff;
}

.twitter-mini-link-time:active {
    color: #c7b299;
}

.twitter-mini-link-child {
    color: #959595;
}

.twitter-mini-link-child:hover {
    color: #8f8374;
}

.twitter-mini-link-child:active {
    color: #cca282;
}

.footer-widget {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-widget-header {
    width: 100%;
    text-transform: capitalize;
    color: #ffffff;
    font-family: raleway-regular, arial, sans-serif;
    font-size: 24px;
    margin: 30px 0 25px 0;
}

.footer-widget-header:hover {
    color: #c7b299;
}

.footer-widget-header:active {
    color: #bb7947;
}

.footer-widget-item {
    width: 130px;
    height: 98px;
    margin: 0 0 10px 0;
}

.footer-widget-item:hover {
    filter: brightness(60%);
}

.footer-widget-item:active {
    filter: brightness(30%);
}

.footer-widget-phone {
    background-image: url(../img/widget-phone.png);
}

.footer-widget-bag {
    background-image: url(../img/widget-bag.png);
}

.footer-widget-book {
    background-image: url(../img/widget-book.png);
}

.footer-widget-icons {
    background-image: url(../img/widget-icon.png);
}

.footer-wrp-bottom {
    background-color: #111111;
    padding: 45px 0 50px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-wrp-bottom-nav {
    display: flex;
    list-style: none;
    padding: 0 0 0 375px;
    box-sizing: border-box;
}

.footer-wrp-bottom-nav-item {
    border-left: 1px solid #252525;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.footer-wrp-bottom-nav-item:first-child {
    padding: 0 10px 0 0;
    box-sizing: border-box;
    border: none;
}

.footer-wrp-bottom-nav-item-link {
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-wrp-bottom-nav-item-link:hover {
    color: #c7b299;
}

.footer-wrp-bottom-nav-item-link:active {
    color: #bb7947;
}

.footer-wrp-bottom-nav-item-link-copy-waxom {
    color: #959595;
}

.footer-wrp-bottom-nav-item-link-copy-waxom:hover {
    color: #866f6f;
}

.footer-wrp-bottom-nav-item-link-copy-waxom:active {
    color: #ffffff;
}

.footer-wrp-bottom-nav-item-link-pp {
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-wrp-bottom-nav-item-link-pp:hover {
    color: #c7b299;
}

.footer-wrp-bottom-nav-item-link-pp:active {
    color: #bb7947;
}

.footer-wrp-bottom-nav-item-link-faq {
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-wrp-bottom-nav-item-link-faq:hover {
    color: #c7b299;
}

.footer-wrp-bottom-nav-item-link-faq:active {
    color: #bb7947;
}

.footer-wrp-bottom-nav-item-link-support {
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-wrp-bottom-nav-item-link-support:hover {
    color: #c7b299;
}

.footer-wrp-bottom-nav-item-link-support:active {
    color: #bb7947;
}

.footer-wrp-bottom-design {
    display: flex;
    list-style: none;
    padding: 0 375px 0 0;
    box-sizing: border-box;
}

.footer-wrp-bottom-design-item {
    border-left: 1px solid #252525;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.footer-wrp-bottom-design-item:first-child {
    border: none;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.footer-wrp-bottom-design-item-link {
    color: #555555;
    font-family: montserrat-regular, arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.footer-wrp-bottom-design-item-link:hover {
    color: #c7b299;
}

.footer-wrp-bottom-design-item-link:active {
    color: #bb7947;
}

.footer-wrp-bottom-design-item-link-theme {
    text-transform: capitalize;
    color: #959595;
}

.footer-wrp-bottom-design-item-link-theme:hover {
    color: #866f6f;
}

.footer-wrp-bottom-design-item-link-theme:active {
    color: #ffffff;
}

.footer-wrp-bottom-design-item-link-market {
    text-transform: capitalize;
    color: #959595;
}

.footer-wrp-bottom-design-item-link-market:hover {
    color: #866f6f;
}

.footer-wrp-bottom-design-item-link-market:active {
    color: #ffffff;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .header-wrp {
        width: 100%;
    }
    .header {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .icon-cart, .search-icon-form {
        display: none;
    }
    .carusel {
        display: none;
    }
    .header-menu {
        width: 30%;
        margin: 0 50px 0 0;
    }
    .menu-btn {
        display: flex;
        position: absolute;
        top: 70px;
        right: 25px;
    }
    .header-menu-list {
        min-height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
        position: relative;
    }
    .header-menu-list-item {
        width: 100%;
    }
    .header-menu-list-item-link {
        height: 0;
    }
    input[type="checkbox"]:checked~.header-menu-list {
        visibility: visible;
        height: auto;
    }
    input[type="checkbox"]:checked~.header-menu-list .header-menu-list-item-link {
        height: auto;
    }
    .main-features {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .features {
        width: 249px;
        padding: 0;
    }
    .main-ideas {
        display: none;
    }
    .ad {
        display: none;
    }
    .projects {
        width: 100%;
        padding: 80px 10px;
        box-sizing: border-box;
    }
    .projects-txt {
        width: 100%;
    }
    .projects-menu-list {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .projects-menu-btn {
        padding: 10px;
    }
    .article-wrp {
        margin: 0 auto;
    }
    .video-wrp {
        width: 100%;
        top: 25%;
        left: 0%;
    }
    .mobile {
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }
    .mobile-img {
        position: absolute;
        bottom: 35px;
        right: 30px;
        width: 35%;
        height: 40%;
    }
    .mobile-wrp {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 70px 0 20px 0;
    }
    .mobile-wrp-header {
        width: 100%;
        text-align: center;
    }
    .mobile-wrp-txt {
        width: 100%;
        text-align: justify;
    }
    .mobile-wrp-list {
        width: 250px;
        margin: 0 0 0 40px;
        padding: 0;
    }
    .main-statistics {
        display: none;
    }
    .posts-main {
        width: 100%;
        padding: 80px 10px;
        box-sizing: border-box;
    }
    .posts-main-txt {
        width: 100%;
        text-align: justify;
        margin: 0 0 40px 0;
    }
    .posts-btn-wrp {
        margin: 0;
    }
    .partners-wrp {
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-wrp-top {
        display: none;
    }
    .footer-wrp-bottom {
        width: 100%;
        justify-content: center;
    }
    .footer-wrp-bottom-nav {
        padding: 0;
    }
    .footer-wrp-bottom-design {
        padding: 0;
    }
}